@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");


.Favoritos-gen-cont {
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80vh;
  background-image: linear-gradient(rgb(102, 102, 218), white);
}


.detalles{
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}
.detalles:hover{
    color: rgb(92, 136, 231);
}